body{
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segou UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: #293748;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    grid-area: header;
    background-color: #63B3ED;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header img{
    width: 100px;
    border-radius: 50%;
}

header h1{
    font-size: 36px;
}

article{
    background-color:white;
    margin: 20px;
    padding: 20px;
    width: 100%;
    box shadow: 0 2px 5pc rgba(0,0,0,0,1);
}

/*.sidebar{
    grid-area: sidebar;
    background-color: #E2E8F0;
    padding:20px;
}

.sidebar h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar a{
    color: #4299E1;
}*/

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

main h2{
    font-size: 32px;
}

footer{
    grid-area: footer;
    background-color: #2C5282;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px;
}

aside section{
    margin-bottom: 20px;
}

/*
main article{
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}*/

.container{
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header, main, aside{
    padding: 20px;
}


/*<aside class ="sidebar">
                <h3 style="color: #000000;">About</h3>
                <p>Insert paragraph here about myself, Major, age, hobbies and why I like web dev</p>
                <h3 style="color: #48BB78;">Social Media</h3>
                <ul>
                    <li><a href= "#">Twitter</a></li>
                    <li><a href= "#">Facebook</a></li>
                    <li><a href= "#">Instagram</a></li>
                    <li><a href= "#">LinkedIn</a></li>
                </ul>
                <h3 style="color: #48BB78;">Archives</h3>
                <ul>
                    <li><a href= "#">June 2020</a></li>
                    <li><a href= "#">July 2020</a></li>
                    <li><a href= "#">August 2020</a></li>
                    <li><a href= "#">September 2020</a></li>
                </ul>
            </aside> */
